<header class="masthead">
  <p class="masthead-intro">Mohit Kumar</p>
  <h1 class="masthead-heading"></h1>
</header>
<section class="introduction-section">
  <div class="container">
    <h1>Introduction</h1>
    

    <p>I think it's important to help make the internet a <strong>beautiful place</strong></p>

    <p>I also think it's important to push yourself and <strong>learn</strong> one new thing every day, no matter what
      that may be. Did you know a duel between three people is called a</p>
  </div>
</section>

<section class="location-section">
  <div class="container">
   
       
      
  </div>
</section>

<section class="questions-section">
  <div class="container">
    <h1>More About Me</h1>
    
    <p>I love to explore new cities, take photographs, eat tacos, catnap with my cat, bike to big lakes, hold hands,
      play video games</p>

   
  </div>
</section>
